.dropload-up, .dropload-down {
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.dropload-down {
    height: 50px;
}

.dropload-refresh, .dropload-update, .dropload-load, .dropload-noData {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.dropload-load .loading {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}

.dropload-load .loader {
    background: url("../img/Loading.gif");
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-left: 2.6rem;
}

.dropload-load p {
    margin-top: -0.6rem;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*加载动图loading.gif*/
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin3 .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin4 .7s infinite linear;
}

/* Safari 和 Chrome */
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

/* IE9以上 */
@-ms-keyframes spin3 {
    from {
        -ms-transform: scale(1) rotate(0deg);
    }
    to {
        -ms-transform: scale(1) rotate(360deg);
    }
}

/* Firefox */
@-moz-keyframes spin4 {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}