@charset "utf-8";
/* CSS Document */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
dl,
dt,
dd,
fieldset,
img,
q,
i,
em,
strong,
sub,
sup,
figure {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    border: 0 none;
}

body {
    background: #ffffff;
    font-family: "Helvetica Neue", Helvetica, "STheiti", "Microsoft Yahei", "SimHei", Arial, Tahoma, sans-serif, serif;
    color: #363636;
    line-height: 1.5;
    margin: 0 auto;
    min-width: 320px;
    -webkit-text-size-adjust: none;
    font-size: 90%;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

button,
input,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, "STheiti", "Microsoft Yahei", "SimHei", Arial, Tahoma, sans-serif, serif;
    font-size: .813em;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
}

textarea {
    resize: none;
}

b {
    font-weight: normal
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.clear {
    clear: both
}

.cf {
    *zoom: 1
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

a:focus,
input:focus,
textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #363636;
}

a:link,
a:visited {
    color: #363636
}

a:hover {
    color: #363636;
}

.left {
    float: left
}

.right {
    float: right
}

.margin_t {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto
}

/*标题*/

h2 {
    width: 1200px;
    margin: 35px auto 0px;
    font-size: 35px;
    line-height: 60px;
    color: #5b5b5b;
    border-bottom: solid 1px #e3e3e3;
    text-align: center;
    position: relative
}

h2 span {
    font-size: 14px;
    line-height: 22px;
    color: #989898;
    position: absolute;
    top: 48px;
    padding: 0 10px;
    display: block;
}

h2 span.span1 {
    left: 511px;
    background: #f8f8f8;
}

h2 span.span2 {
    left: 472px;
}

h2 span.span3 {
    left: 466px;
    background: #f8f8f8;
}

h2 span.span4 {
    left: 442px;
}

h2 span.span5 {
    left: 447px;
}

h2 span.span7 {
    left: 470px;
    background: #f8f8f8;
}

h2 span.span8 {
    left: 368px;
    background: #f8f8f8;
}

/*banner*/

.banner {
    width: 100%;
    overflow: hidden;
    height: 370px;
    background: url(../images/banner_bg.png) no-repeat top center
}

.banner img {
    display: block;
    width: 100%
}

/*第一板块*/

.center1 {
    width: 1200px;
    height: 365px;
    overflow: hidden;
    margin: 0 auto
}

.center1 div {
    width: 598px;
    height: 225px;
    overflow: hidden;
    margin-top: 35px;
}

.center1 div b {
    width: 138px;
    height: 24px;
    display: block;
    margin: 0 auto 15px;
    padding: 13px 20px;
    line-height: 24px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: normal;
}

.center1 div.left b {
    background: #13c2ee
}

.center1 div.right b {
    background: #13c2ee
}

.center1 div b span {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 8px;
    display: inline-block
}

.center1 div.left b span {
    background: url(../images/rzzl_img1.jpg) no-repeat
}

.center1 div.right b span {
    background: url(../images/rzzl_img2.jpg) no-repeat
}

.center1 div p {
    margin: 0px 30px;
    font-size: 14px;
    line-height: 24px;
    color: #676767;
    text-align: center
}

/*第二板块*/

.center2 {
    width: 100%;
    height: 450px;
    background: url(../images/bg_list1.jpg) no-repeat top center;
    overflow: hidden;
    margin: 0 auto
}

.center2 ul {
    width: 100%;
    overflow: hidden;
    margin-top: 45px;
}

.center2 ul li {
    float: left;
    width: 280px;
    margin-right: 26px;
    display: inline;
}

.center2 ul li b {
    width: 100%;
    height: 84px;
    display: block;
    text-align: center;
    line-height: 84px;
    font-size: 20px;
    color: #FFFFFF
}

.center2 ul li p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #4c4c4c
}

.center2 ul li p span {
    width: 13px;
    height: 13px;
    display: block;
    float: left;
    margin-right: 14px;
    display: inline-block;
    margin-top: 5px;
}

.center2 ul li.last,
.right_div ul.ul_list2 li.last,
.right_div ul.ul_list3 li.last,
.center4_div ul.last,
.center6_list li.last,
.center6_list1 li.last,
.center_l_div_list span.last,
.center_l_div_list2 ul.last {
    margin-right: 0px;
}

/*第三板块*/

.center3 {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto
}

.center3 ul.tab1 {
    width: 100%;
    overflow: hidden;
    margin: 25px auto 15px;
    height: 50px;
}

.center3 ul.tab1 li {
    width: 33.33%;
    float: left;
    background: #66d7f3;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #ffffff;
}

.center3 ul.tab1 li.aaa {
    background: #13c2ee
}

.qiehuan1 {
    width: 100%;
    height: 275px;
    overflow: hidden;
    margin: 0 auto;
    display: none
}

#tab_0 {
    display: block
}

.left_div {
    width: 275px;
    overflow: hidden
}

.left_div b {
    width: 100%;
    display: block;
    font-size: 24px;
    line-height: 40px;
    border-bottom: solid 1px #e4e4e4;
    color: #3f3e44
}

.left_div p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #676767
}

.right_div {
    width: 900px;
    overflow: hidden
}

.right_div p.text {
    width: 100%;
    font-size: 24px;
    line-height: 40px;
    border-bottom: solid 1px #e4e4e4;
    color: #3f3e44
}

.right_div ul.ul_list1,
.right_div ul.ul_list2 {
    width: 100%;
    overflow: hidden
}

.right_div ul.ul_list1 li {
    width: 280px;
    float: left;
    margin-right: 20px;
    display: inline;
    overflow: hidden;
    margin-top: 20px;
}

.right_div ul.ul_list1 li strong {
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    border: solid 1px #e8e8e8
}

.right_div ul.ul_list1 li strong img {
    display: block;
    margin: 18px auto 0px
}

.right_div ul.ul_list1 li span {
    width: 185px;
    display: block;
    float: right;
    font-size: 16px;
    color: #34343a;
    line-height: 30px;
}

.right_div ul.ul_list1 li p {
    width: 185px;
    float: right;
    font-size: 14px;
    line-height: 18px;
    color: #676767
}

.right_div ul.ul_list2 p {
    width: 82px;
    height: 120px;
    float: left;
    font-size: 18px;
    color: #3f3e44;
    line-height: 40px;
}

.right_div ul.ul_list3 p {
    width: 82px;
    height: 55px;
    float: left;
    font-size: 18px;
    color: #3f3e44;
    line-height: 40px;
}

.right_div ul.ul_list2 li,
.right_div ul.ul_list3 li {
    width: 260px;
    float: left;
    margin-top: 10px;
    font-size: 14px;
    color: #676767;
    text-align: center;
    line-height: 18px;
    border: solid 1px #e8e8e8;
    margin-right: 15px;
    display: inline
}

.right_div ul.ul_list2 li.padd1,
.right_div ul.ul_list3 li.padd1 {
    padding-top: 20px;
    height: 40px;
}

.right_div ul.ul_list2 li.padd,
.right_div ul.ul_list3 li.padd {
    padding-top: 10px;
    height: 50px;
}

/*第四板块*/

.center4 {
    width: 100%;
    height: 450px;
    background: url(../images/bg_list2.jpg) no-repeat top center;
    margin: 35px auto 0px;
}

.center4_list {
    width: 100%;
    height: 50px;
    margin: 28px auto 15px;
}

.center4_list li {
    width: 33.33%;
    float: left;
    text-align: center;
    line-height: 50px;
    background: #7dcbdf;
    font-size: 18px;
    color: #ffffff;
}

.center4_list li.bbb {
    background: #109ec2
}

.center4_div {
    width: 100%;
    height: 200px;
    display: none
}

#list_0 {
    display: block
}

.center4_div p {
    width: 440px;
    float: left;
    margin-right: 160px;
    display: inline;
    font-size: 14px;
    line-height: 24px;
    color: #4d4d4d
}

.center4_div p span {
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 50px;
    color: #676767
}

.center4_div ul {
    width: 280px;
    float: left;
    margin-right: 25px;
    display: inline
}

.center4_div ul p {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #FFFFFF;
    font-size: 18px;
    margin-bottom: 5px;
}

.center4_div ul li {
    font-size: 14px;
    line-height: 24px;
}

.xian {
    width: 100%;
    height: 1px;
    line-height: 1px;
    background: #ededed;
    margin: 20px auto;
    position: relative
}

.center3 .xian a {
    width: 225px;
    height: 40px;
    display: block;
    background: #13c2ee;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -112px;
    top: -20px;
}

.center4 .xian a {
    width: 225px;
    height: 40px;
    display: block;
    background: #109ec2;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -112px;
    top: -20px;
}

.center5 .xian a {
    width: 225px;
    height: 40px;
    display: block;
    background: #075669;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -112px;
    top: -20px;
}

.center_h .xian a {
    width: 225px;
    height: 40px;
    display: block;
    background: #0f748d;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -112px;
    top: -20px;
}

.center_l .xian a {
    width: 225px;
    height: 40px;
    display: block;
    background: #044353;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -112px;
    top: -20px;
}

/*黄色版块*/

.center_h {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto
}

.center_h_ul {
    width: 100%;
    height: 50px;
    margin: 28px auto 15px;
}

.center_h_ul li {
    width: 33.33%;
    float: left;
    text-align: center;
    line-height: 50px;
    background: #68bfd4;
    font-size: 18px;
    color: #ffffff;
}

.center_h_ul li.eee {
    background: #0f748d;
}

.huan_x {
    display: none
}

#huan_0 {
    display: block
}

.div_xiao1 {
    width: 1200px;
    overflow: hidden;
    height: 304px;
    margin: 25px auto 0px;
}

.over_h {
    overflow: hidden;
    width: 100%;
    height: 264px;
}

.div_xiao1 div.div_lis {
    width: 550px;
    padding: 10px 19px;
    border: solid 1px #e8e8e8
}

.div_xiao1 div.div_lis p {
    font-size: 24px;
    line-height: 30px;
}

.div_xiao1 div.div_lis ul {
    width: 100%;
    overflow: hidden
}

.div_xiao1 div.div_lis ul li {
    width: 100%;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #676767;
    background: #f3f3f3;
    margin-top: 4px;
}

.div_xiao3 {
    width: 1198px;
    height: 304px;
    margin: 25px auto 0px;
    border: solid 1px #e8e8e8;
    border-bottom: none;
    padding-bottom: 10px;
    position: relative
}

.div_xiao3 div {
    width: 550px;
    padding: 10px 19px 0px;
    height: 264px;
}

.div_xiao3 div.div_lis p {
    font-size: 24px;
    line-height: 30px;
    height: 30px;
}

.div_xiao3 div.div_lis ul {
    width: 100%;
    overflow: hidden
}

.div_xiao3 div.div_lis ul li {
    width: 100%;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #676767;
    background: #f3f3f3;
    margin-top: 4px;
}

.div_xiao3 span {
    width: 5px;
    height: 24px;
    display: block;
    background: #FFFFFF;
    color: #FFFFFF;
}

.div_xiao3 span.span1_left {
    position: absolute;
    left: -2px;
    bottom: 0px;
}

.div_xiao3 span.span1_right {
    position: absolute;
    right: -2px;
    bottom: 0px;
}

/*绿色版块*/

.center_l {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto
}

.center_l_ul {
    width: 100%;
    height: 50px;
    margin: 28px auto 15px;
}

.center_l_ul li {
    width: 33.33%;
    float: left;
    text-align: center;
    line-height: 50px;
    background: #208199;
    font-size: 18px;
    color: #ffffff;
}

.center_l_ul li.fff {
    background: #044353
}

.center_l_div {
    width: 1200px;
    height: 290px;
    overflow: hidden;
    margin: 0 auto
}

.center_l_div b {
    width: 100%;
    display: block;
    line-height: 42px;
    font-size: 14px;
    color: #676767;
    font-weight: bold;
    text-align: center
}

.guo {
    display: none
}

#xiao_0 {
    display: block
}

.center_l_div_list,
.center_l_div_list2 {
    width: 100%;
    overflow: hidden;
    float: left;
}

.center_l_div_list span {
    width: 158px;
    height: 158px;
    float: left;
    border: solid 1px #e7e7e7;
    text-align: center;
    line-height: 158px;
    font-size: 18px;
    color: #676767;
    margin-right: 30px;
    display: inline-block
}

.center_l_div_list p {
    width: 411px;
    float: left;
    font-size: 14px;
    line-height: 20px;
    height: 150px;
    margin-top: 10px;
    margin-right: 58px;
    display: inline
}

.center_l_div_list2 ul {
    width: 280px;
    float: left;
    margin-right: 26px;
    display: inline
}

.center_l_div_list2 ul p {
    width: 278px;
    height: 82px;
    text-align: center;
    line-height: 82px;
    background: #ddfdff;
    border: solid 1px #b8f2f4;
    font-size: 20px;
    color: #656565;
    margin-bottom: 8px;
}

.center_l_div_list2 ul li {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #676767;
}

.xixo {
    width: 1020px;
    float: left
}

.xixo li {
    width: 176px;
    float: left;
    margin: 0px 26px 20px 0px;
    display: inline;
    font-size: 14px;
    line-height: 20px;
    color: #676767;
    border: solid 1px #e7e7e7;
    text-align: center;
}

.he1_l {
    padding-top: 15px;
    height: 53px;
}

.he2_l {
    padding-top: 24px;
    height: 44px;
}

.left_p {
    width: 158px;
    float: left;
    border: solid 1px #e7e7e7;
    height: 148px;
    text-align: center;
    padding: 10px 8px 0px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #676767
}

/*第五版块*/

.center5 {
    width: 100%;
    height: 450px;
    overflow: hidden;
    background: url(../images/bg_list3.jpg) no-repeat top center;
    margin: 20px auto 0px;
}

.center5_n {
    width: 1200px;
    height: 270px;
    overflow: hidden;
    margin: 20px auto 0px;
}

.center5_ul {
    width: 100%;
    overflow: hidden;
    height: 50px;
    margin-bottom: 15px;
}

.center5_ul li {
    font-size: 18px;
    text-align: center;
    width: 25%;
    float: left;
    line-height: 50px;
    background: #468b9c;
    color: #FFFFFF
}

.center5_ul li.ddd {
    background: #075669;
}

.center5_div {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: none
}

#qie_2 {
    display: block
}

.center5_div p {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 24px;
}

/*第六版块*/

.center6 h3 {
    width: 100%;
    overflow: hidden;
    line-height: 60px;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center6_list,
.center6_list1 {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto
}

.center6_list li {
    width: 362px;
    height: 145px;
    float: left;
    margin: 0px 57px 40px 0px;
    display: inline
}

.center6_list li img {
    display: block;
    margin: 20px auto 10px
}

.center6_list li span {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 30px;
    display: block;
    margin-top: 48px;
}

.center6_list li p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF
}

.center6_list1 li {
    width: 218px;
    height: 120px;
    border: solid 1px #e7e7e7;
    float: left;
    margin: 0px 25px 40px 0px;
    position: relative
}

.center6_list1 li img {
    display: block;
    position: absolute;
    left: 0px;
    bottom: -13px;
}

.center6_list1 li span {
    width: 100%;
    display: block;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}

.center6_list1 li a {
    width: 118px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border: solid 1px #9dd1ff;
    font-size: 14px;
    color: #55c0f7;
    margin: 0 auto
}

.center6_list1 li a.ccc {
    color: #ffffff;
    background: #13c2ee;
    border: solid 1px #4974d825;
}

/*第七版块*/

/*
.box7{ width:100%; overflow:hidden; background:url(../images/bg_list4.jpg) no-repeat top center; height:295px;}
.box7 h3{ font-size:30px; line-height:80px; margin-top:25px; text-align:center}
.box7 img{display:block; margin:0 auto}*/

/*颜色板块*/

.color1 {
    background: #13c2ee;
}

.color2 {
    background: #13c2ee
}

.color3 {
    background: #13c2ee;
}

.color4 {
    background: #13c2ee;
}

.color5 {
    background: #13c2ee;
}

.color6 {
    background: #13c2ee;
}

.color7 {
    background: #13c2ee;
}

.color8 {
    background: #13c2ee;
}

.color9 {
    background: #0f8baa;
}

.color10 {
    background: #13c2ee;
}

.color11 {
    background: #13c2ee;
}

.color12 {
    background: #13c2ee;
}

.color13 {
    background: #13c2ee;
}

.color14 {
    background: #13c2ee;
}

/*合作伙伴*/

.index-hzhb {
    border: none;
    display: block;
    margin: 50px 70px 15px;
}

.index-hzhb td {
    border: 1px #ececec solid;
}

.index-hzhb td {
    height: 110px;
    text-align: center;
    width: 195px;
}

.index-title .h2 {
    font-size: 34px;
    line-height: 0px;
    margin-right: 40px;
    position: absolute;
    left: 600px;
    top: 4410px;
}

/*在线客服*/

.consult {
    width: 100px;
    position: fixed;
    top: 170px;
    right: 0;
    z-index: 100;
    background-color: #fff;
}

.consult .tit {
    background-color: #e13e38;
    text-align: center;
    width: 100px;
    height: 60px;
    position: relative;
}

.consult .tit::before {
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: -7px;
    left: 0;
    z-index: 1;
    background: url("/assets/img/consult_tit_bottom.png") no-repeat center;
}

.consult .tit .img {
    margin: 0 auto;
    width: 24px;
    height: 17px;
    padding: 12px 0 7px;
}

.consult .tit .img img {
    width: 100%;
    height: 100%;
}

.consult .tit h3 {
    color: #fff;
    font-size: 14px;
}

.consult li {
    height: 60px;
    line-height: 25px;
    font-size: 12px;
    color: #757575;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding-top: 20px;
    padding-left: 20px;
}

.consult li.on {
    color: #e13e38;
    -webkit-transform: translate(2px, 0);
    transform: translate(2px, 0);
}

/*.consult li:hover {
    color: #e13e38;
    -webkit-transform: translate(3px, 0);
    transform: translate(3px, 0);
}*/

.consult li~li {
    border-top: 1px solid #ededed;
}

.consult li a {
    display: block;
    height: 100%;
    padding: 0 10px;
}

.consult li a img {
    vertical-align: middle;
}

.consult li a span {
    padding-right: 5px;
}