.page{
    list-style: none;
    float:right;
    margin-top:20px;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    /* border: solid thin #DDDDDD; */
    margin: 5px;
}
.page .pageItemActive{
    /* border: solid thin #0099FF; */
    margin: 5px;
    /* background-color: #c20600; */
    color:#c20600;
}
.page .pageItem:hover{
    /* border: solid thin #0099FF; */
    /* background-color: #c20600; */
    color:#c20600;
}
.page .pageItemDisable{
    /* border: solid thin #cfcfcf; */
    margin: 5px;
    color: #cfcfcf;
}